/* GLOBAL -START- */
$h1-font: "Century Gothic",
sans-serif;
$h1-size: 2.1em;
$p-font: "Yu Gothic UI Light",
sans-serif;
$p-size: 1.8em;

* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

h1 {
    font-size: $h1-size;
    font-family: $h1-font;
    text-align: center;
    color: #71A133;
}

header {
    background-color: #D0F79E;
    width: 100%;
    padding: 2%;
}


.wrapper-home {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "."
        "header"
        "nav"
        ".";
    background-color: #d0f79e;

    h1 {
        margin-top: -4%;
    }
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}


.frontfridge {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.button {
    border: none;
    display: block;
    background-color: #71a133;
    text-align: center;
    width: 60%;
    margin: 3% 20%;
    padding: 4% 10%;
    cursor: pointer;
   
    a {
        text-decoration: none;
        border: none;
        color: #E5FBCA;
        font-family: $p-font;
        font-size: $p-size;
    }
}


/* YOUR FRIDGE -START-*/


.fridge {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 7%;

    p {
        margin: 2% 50% 2% 2%;
        font-size: 1.2em;
        flex-grow: 3;
    }

    i {
        margin: 2%;
        flex-grow: 1;
    }

}

.expired {
    color: red;
}

.new {
    color: green;
}
