* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

/* --Fonts and font sizes-- */
$h1-font: "Century Gothic",
sans-serif;
$h1-size: 2.1em;
$p-font: "Yu Gothic UI Light",
sans-serif;
$p-size: 1.3em;

/* --Colors-- */
$baggrund: rgba(229, 251, 201, 0.2);

/* --Common use-- */

body {
    background-color: $baggrund;
}

h1 {
    font-size: $h1-size;
    font-family: $h1-font;
    text-align: center;
    color: #71A133;
}

header {
    background-color: #D0F79E;
    width: 100%;
    padding: 2% 0%;
    display: flex;
    justify-content: space-between;
     button {
        width: 20%;
        border: none;
        background-color: transparent;
        font-size: 1.7em;
    }
}

footer {
    grid-area: footer;
    position: fixed;
    bottom: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    button {
        background-color: #71A133;
        border: none;
        border-radius: 50%;
        color: white;
        padding: 16px 20px;
        font-size: 20px;
        cursor: pointer;
        
    }
}

/* HOME --START-- */

.wrapper-home {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "."
        "header"
        "nav"
        ".";
    h1 {
        margin-top: -4%;
    }
}
.header {
    grid-area: header;
}
.nav {
    grid-area: nav;
}
.frontfridge {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.button {
    border: none;
    display: block;
    background-color: #71a133;
    text-align: center;
    width: 60%;
    margin: 3% 20%;
    padding: 4% 10%;
    cursor: pointer;
   
    a {
        text-decoration: none;
        border: none;
        color: #E5FBCA;
        font-family: $p-font;
        font-size: $p-size;
    }
}


/* YOUR FRIDGE -START-*/

.wrapper-fridge {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 10% 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer"
    ;
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
    }
}

.fridge {
    display: grid;
    margin-top: 8%;
    align-content: center;
    p {
        font-size: $p-size;
        font-family: $p-font;
        margin: 2% 0 2% 8%;
    }
    button {
        background-color: transparent;
        border: none;
        font-weight: bold;
        place-self: center;
        font-size: $p-size
    } 
}
.no {
    grid-column-start: 5;
    color: red;
    place-self: center;
}
.s-list {
    grid-column-start: 6;
}

.expired {
    color: red;
}

.new {
    color: green;
}
