* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts and font sizes */
$h1-font: "Century Gothic",
sans-serif;
$h1-size: 2.1em;
$p-font: "Yu Gothic UI Light",
sans-serif;
$p-size:1.8em;

/* Colors */
$baggrund: rgba(229, 251, 201, 0.2);

body {
    background-color: $baggrund;
}

.load {
    margin-top: 25%;

    img {
        display: block;
        width: 80%;
        margin: auto;
    }
    
    p { 
        margin-top: 10%;
        font-family: $p-font;
        font-size: $p-size;
        text-align: center;
        padding: 0% 2%;
    }
}