* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Fonts and font sizes */
/* Colors */
body {
  background-color: rgba(229, 251, 201, 0.2); }

.home {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "." "header" "nav" "."; }

.home h1 {
  margin-top: -4%;
  font-size: 2.1em;
  font-family: "Century Gothic", sans-serif;
  text-align: center;
  color: #71A133; }
.home .header {
  grid-area: header; }
.home .nav {
  grid-area: nav; }
.home .frontfridge {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%; }
.home .button {
  border: none;
  display: block;
  background-color: #71a133;
  text-align: center;
  width: 60%;
  margin: 3% 20%;
  padding: 4% 10%;
  cursor: pointer; }
  .home .button a {
    text-decoration: none;
    border: none;
    color: #E5FBCA;
    font-family: "Yu Gothic UI Light", sans-serif;
    font-size: 1.8em; }

.your-fridge {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }

.your-fridge header {
  grid-area: header;
  background-color: #D0F79E;
  width: 100%;
  padding: 2% 0%;
  display: flex;
  justify-content: space-between; }
  .your-fridge header button {
    width: 20%;
    border: none;
    background-color: transparent;
    font-size: 1.7em; }
  .your-fridge header h1 {
    font-size: 2.1em;
    font-family: "Century Gothic", sans-serif;
    text-align: center;
    color: #71A133; }
.your-fridge .fridge {
  grid-area: main;
  margin: 2%;
  font-size: 1.8em;
  font-family: "Yu Gothic UI Light", sans-serif; }
  .your-fridge .fridge p {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .your-fridge .fridge p .first {
      width: 45%;
      max-width: 45%; }
    .your-fridge .fridge p .buttons {
      display: flex;
      justify-content: end; }
  .your-fridge .fridge button {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    font-size: 0.8em;
    font-weight: bold; }
  .your-fridge .fridge .no {
    color: red; }
  .your-fridge .fridge .expired {
    color: red; }
  .your-fridge .fridge .new {
    color: green; }
.your-fridge footer {
  grid-area: footer;
  position: fixed;
  bottom: 18px;
  width: 100%;
  display: flex;
  justify-content: center; }
  .your-fridge footer button {
    background-color: #71A133;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 16px 20px;
    font-size: 20px;
    cursor: pointer; }

.shoppping-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }

.shopping-list header {
  grid-area: header;
  background-color: #D0F79E;
  width: 100%;
  padding: 2% 0%;
  display: flex;
  justify-content: space-between; }
  .shopping-list header button {
    width: 20%;
    border: none;
    background-color: transparent;
    font-size: 1.7em; }
  .shopping-list header h1 {
    font-size: 2.1em;
    font-family: "Century Gothic", sans-serif;
    text-align: center;
    color: #71A133; }
.shopping-list .shopping {
  grid-area: main;
  margin: 5%;
  font-size: 1.8em;
  font-family: "Yu Gothic UI Light", sans-serif; }
  .shopping-list .shopping .box {
    width: 25px;
    height: 25px; }
  .shopping-list .shopping button {
    width: 25px;
    height: 25px;
    float: right;
    background-color: transparent;
    border: none;
    font-size: 0.8em;
    color: red;
    font-weight: bold; }
.shopping-list footer {
  grid-area: footer;
  position: fixed;
  bottom: 18px;
  width: 100%;
  display: flex;
  justify-content: center; }
  .shopping-list footer button {
    background-color: #71A133;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 16px 20px;
    font-size: 20px;
    cursor: pointer; }

.modal-box {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "section section main main"; }

.modal-box {
  width: 100%;
  padding: 0;
  margin: 0; }
  .modal-box header {
    grid-area: header;
    background-color: #D0F79E;
    width: 100%;
    padding: 2% 0%;
    margin-bottom: 10%; }
    .modal-box header button {
      width: 20%;
      border: none;
      background-color: transparent;
      font-size: 2.1em;
      position: absolute; }
    .modal-box header h1 {
      font-size: 2.1em;
      font-family: "Century Gothic", sans-serif;
      text-align: center;
      color: #71A133; }
  .modal-box .btn {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 0% 10%; }
    .modal-box .btn button {
      font-size: 2.1em;
      background-color: transparent;
      margin-bottom: 25%;
      font-size: 6em; }
  .modal-box section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    margin: 0% 10%; }
    .modal-box section p {
      border: 3px solid black;
      text-align: center;
      font-family: "Yu Gothic UI Light", sans-serif;
      font-size: 1.8em; }
    .modal-box section button {
      border: none;
      background-color: transparent;
      font-size: 1.8em; }

.load {
  margin-top: 25%; }
  .load img {
    display: block;
    width: 80%;
    margin: auto; }
  .load p {
    margin-top: 10%;
    font-family: "Yu Gothic UI Light", sans-serif;
    font-size: 1.8em;
    text-align: center;
    padding: 0% 2%; }

/*# sourceMappingURL=style.css.map */
