* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts and font sizes */
$h1-font: "Century Gothic",
sans-serif;
$h1-size: 2.1em;
$p-font: "Yu Gothic UI Light",
sans-serif;
$p-size:1.4em;

/* Colors */
$baggrund: rgba(229, 251, 201, 0.2);
$header-baggrund: #D0F79E;
$h1-color: #71A133; 

body {
    background-color: $baggrund;
}

.home {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "."
        "header"
        "nav"
        ".";

    h1 {
        margin-top: -4%;
        font-size: $h1-size;
        font-family: $h1-font;
        text-align: center;
        color: $h1-color;
    }

    .header {
        grid-area: header;
    }

    .nav {
        grid-area: nav;
    }

    .frontfridge {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .button {
        border: none;
        display: block;
        background-color: #71a133;
        text-align: center;
        width: 60%;
        margin: 3% 20%;
        padding: 4% 10%;
        cursor: pointer;

        a {
            text-decoration: none;
            border: none;
            color: #E5FBCA;
            font-family: $p-font;
            font-size: $p-size;
        }
    }
}

.your-fridge {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";

    header {
        grid-area: header;
        background-color: $header-baggrund;
        width: 100%;
        padding: 2% 0%;
        display: flex;
        justify-content: space-between;

        button {
            width: 20%;
            border: none;
            background-color: transparent;
            font-size: 1.7em;
        }

        h1 {
            font-size: $h1-size;
            font-family: $h1-font;
            text-align: center;
            color: $h1-color;
        }
    }

    .fridge {
        grid-area: main;
        margin: 2%;
        font-size: $p-size;
        font-family: $p-font;

        p {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .first {
                width: 45%;
                max-width: 45%;
                word-break: break-all;
            }

            .buttons {
                display: flex;
                justify-content: end;
            }
        }

        button {
            width: 25px;
            height: 25px;
            background-color: transparent;
            border: none;
            font-size: 0.8em;
            font-weight: bold;
        }

        .no {
            color: red;
        }

        .expired {
            color: red;
        }

        .new {
            color: green;
        }
    }

    footer {
        grid-area: footer;
        position: fixed;
        bottom: 18px;
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            background-color: #71A133;
            border: none;
            border-radius: 50%;
            color: white;
            padding: 16px 20px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.shopping-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";

    header {
        grid-area: header;
        background-color: $header-baggrund;
        width: 100%;
        padding: 2% 0%;
        display: flex;
        justify-content: space-between;

        button {
            width: 20%;
            border: none;
            background-color: transparent;
            font-size: 1.7em;
        }

        h1 {
            font-size: $h1-size;
            font-family: $h1-font;
            text-align: center;
            color: $h1-color;
        }
    }

    .shopping {
        grid-area: main;
        margin: 5%;
        font-size: $p-size;
        font-family: $p-font;

        .box {
            width: 20px;
            height: 20px;
            font-size: 0.8em;
        }

        button {
            width: 25px;
            height: 25px;
            float: right;
            background-color: transparent;
            border: none;
            font-size: 0.8em;
            color: red;
            font-weight: bold;
        }
    }

    footer {
        grid-area: footer;
        position: fixed;
        bottom: 18px;
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            background-color: #71A133;
            border: none;
            border-radius: 50%;
            color: white;
            padding: 16px 20px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.add-food {
    visibility: hidden;
    margin: 0;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: $baggrund;
    font-family: $p-font;

    .buttongroup {
        .button {
            background-color: #71a133;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 4em;
            width: 60%;
            display: block;
            margin: auto;
            margin-bottom: 5%;
            padding-bottom: 80px;
            padding-top: 80px;
            border-radius: 50px;
            font-family: "Yu Gothic UI Light", sans-serif;
        }
    }

    .scan {
        width: 20%;
        font-size: 3em;
        margin-left: 39%;
        background-color: #71a133;
        color: white;
        margin-top: 15%;
        border-radius: 50px;
        padding-top: 25px;
        padding-bottom: 29px;
        font-family: "Yu Gothic UI Light", sans-serif;
    }

    h1 {
        font-family: $h1-font;
        text-align: center;
        font-size: $h1-size;
        color: $h1-color;
        margin-bottom: 25%;
        background-color: $header-baggrund;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 95px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        position: absolute;
        top: 52px;
        left: 82%;
        color: #d0f79e;
    }
}

.load {
    margin-top: 25%;

    img {
        display: block;
        width: 80%;
        margin: auto;
    }

    p {
        margin-top: 10%;
        font-family: $p-font;
        font-size: 4em;
        text-align: center;
        padding: 0% 2%;
        word-break: break-all;
    }
}

.error {
    p {
        font-family: $p-font;
        font-size: 4em;
    }

    h1 {
        font-family: $h1-font;
        width: 100%;
        font-size: 5em;
    }

    .mainheader {
        background-color: $header-baggrund;
        color: $h1-color;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
        position: relative;
    }

    body {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        margin-bottom: 90px;
        margin-top: 100px;
    }

    main {
        height: 100%;
    }
}

.modal-box {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "section section main main";

    header {
        grid-area: header;
        background-color: #D0F79E;
        width: 100%;
        padding: 2% 0%;
        margin-bottom: 10%;

        button {
            width: 20%;
            border: none;
            background-color: transparent;
            font-size: $h1-size;
            position: absolute;
        }

        h1 {
            font-size: $h1-size;
            font-family: $h1-font;
            text-align: center;
            color: #71A133;
        }
    }

    .btn {
        grid-area: main;
        display: flex;
        flex-direction: column;
        margin: 0% 10%;

        button {
            font-size: $h1-size;
            background-color: transparent;
            margin-bottom: 25%;
            font-size: 6em;
        }
    }

    section {
        grid-area: section;
        display: flex;
        flex-direction: column;
        margin: 0% 10%;

        p {
            border: 3px solid black;
            text-align: center;
            font-family: $p-font;
            font-size: $p-size;
        }

        button {
            border: none;
            background-color: transparent;
            font-size: $p-size;
        }
    }
}