* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

/* Fonts and font sizes */
$h1-font: "Century Gothic",
sans-serif;
$h1-size: 2.1em;
$p-font: "Yu Gothic UI Light",
sans-serif;
$p-size:1.5em;
/* Colors */
$baggrund: rgba(229, 251, 201, 0.8);
$header-baggrund: #D0F79E;
$h1-color: #71A133;

body {
    // background-color: $baggrund;
    background-image: url(img/fridge.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

/* Home section */
#home {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas:
        ". header ."
        ". nav .";
    margin: auto;

    header {
        grid-area: header;
        margin: 10% 0% 0%;

        .frontfridge {
            display: block;
            width: 100%;
            max-height: 450px;
            background-color: #8E5ECC;
            padding: 10%;
            border-radius: 50%;
            border: none;
            filter: invert(100%);
            margin-bottom: 10%;
        }
    }

    nav {
        grid-area: nav;

        button {
            border: none;
            border-radius: 20px;
            background-color: #71a133;
            text-align: center;
            width: 100%;
            margin: 6% 0% 0%;
            padding: 4% 5%;
            color: white;
            font-family: $p-font;
            font-size: $p-size;
        }
    }
}

/* Your-fridge section */
#your-fridge {
    background-color: $baggrund;
    display: none;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";

    header {
        position: fixed;
        grid-area: header;
        background-color: $header-baggrund;
        width: 100%;
        padding: 2% 0%;
        display: flex;
        justify-content: space-between;

        button {
            width: 20%;
            border: none;
            background-color: transparent;
            font-size: 1.7em;
        }

        h1 {
            font-size: $h1-size;
            font-family: $h1-font;
            text-align: center;
            color: $h1-color;
        }
    }

    .fridge {
        grid-area: main;
        padding-top: 60px;
        font-size: $p-size;
        font-family: $p-font;
        height: 100vh;

        p {
            padding: 3% 5% 0%;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .first {
                width: 45%;
                max-width: 45%;
                word-break: break-all;
            }
        }

        button {
            width: 23px;
            height: 23px;
            background-color: transparent;
            border: none;
            font-size: 1em;
            font-weight: bold;
        }

        .no {
            color: red;
        }

        .expired {
            color: red;
        }

        .new {
            color: green;
        }
    }

    footer {
        grid-area: footer;
        position: fixed;
        bottom: 3%;
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            background-color: #71A133;
            border: none;
            border-radius: 50%;
            color: white;
            padding: 16px 20px;
            font-size: 20px;
            cursor: pointer;
        }
    }

    /* The Modal (background) */
    #modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 80%;
        display: flex;
        flex-direction: column;

        header {
            padding-left: 5%;
            position: relative;
        }

        .indhold {
            display: flex;
            margin: 5%;
        }

        .stepper {
            width: 45%;
            margin: auto 0;

            input {
                width: 100%;
                background-color: $baggrund;
                border: 1px solid $header-baggrund;
                text-align: center;
                font-family: $p-font;
                font-size: $p-size;
            }
        }

        .btn {
            width: 45%;
            height: 150px;
            margin: auto;

            .fridge {
                border: none;
                background-color: transparent;
                background-image: url(img/iconTo.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 70px;
                margin: 0;
            }

            .list {
                border: none;
                background-color: transparent;
                font-size: 3.5em;
                width: 100%;
                height: 70px;
                margin-top: 5%;
            }
        }

        /* Source for the modal box:
        https://www.w3schools.com/howto/howto_css_modals.asp */
    }

    /* The Close Button */
    .close {
        color: red;
        float: right;
        font-size: 1.7em;
        font-weight: bold;
    }
}

/* Add-food section */
#add-food {
    display: none;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas:
        "header header header"
        ". main ."
        ". aside .";

    header {
        grid-area: header;
        background-color: $header-baggrund;
        width: 100%;
        padding: 2% 0%;
        display: flex;
        justify-content: space-between;

        button {
            width: 20%;
            border: none;
            background-color: transparent;
            font-size: 1.7em;
        }

        h1 {
            font-size: $h1-size;
            font-family: $h1-font;
            text-align: center;
            color: $h1-color;
        }
    }

    section {
        grid-area: main;
        margin-top: 20%;

        button {
            display: block;
            background-color: #71a133;
            width: 100%;
            border-radius: 20px;
            border: none;
            margin: 6% 0% 0%;
            padding: 4% 5%;
            color: white;
            text-align: center;
            font-size: $p-size;
            font-family: $p-font;
        }
    }

    aside {
        grid-area: aside;

        button {
            display: block;
            background-color: #71a133;
            width: 60%;
            border-radius: 20px;
            border: none;
            padding: 4% 5%;
            margin: 6% auto 0%;
            color: white;
            text-align: center;
            font-size: $p-size;
            font-family: $p-font;
        }
    }
}

/* Shopping-list section */
#shopping-list {
    background-color: $baggrund;
    display: none;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";

    header {
        position: fixed;
        grid-area: header;
        background-color: $header-baggrund;
        width: 100%;
        padding: 2% 0%;
        display: flex;
        justify-content: space-between;

        button {
            width: 20%;
            border: none;
            background-color: transparent;
            font-size: 1.7em;
        }

        h1 {
            font-size: $h1-size;
            font-family: $h1-font;
            text-align: center;
            color: $h1-color;
        }

        #go-fridge {
            background-image: url(img/icon.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 40px;
            margin: 2% 0%;
        }
    }

    .shopping {
        grid-area: main;
        padding-top: 80px;
        font-size: $p-size;
        font-family: $p-font;
        height: 100vh;

        p {
            padding: 3% 5% 0%;
            width: 100%;
        }

        .box {
            width: 22px;
            height: 22px;
        }

        button {
            width: 22px;
            height: 22px;
            float: right;
            background-color: transparent;
            border: none;
            font-size: 1.1em;
            color: red;
            font-weight: bold;
        }
    }

    footer {
        grid-area: footer;
        position: fixed;
        bottom: 3%;
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            background-color: #71A133;
            border: none;
            border-radius: 50%;
            color: white;
            padding: 16px 20px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

/* Load section */
#load {
    display: none;
    margin-top: 25%;

    img {
        display: block;
        width: 80%;
        margin: auto;
    }

    p {
        margin-top: 10%;
        font-family: $p-font;
        font-size: 4em;
        text-align: center;
        padding: 0% 2%;
        word-break: break-all;
    }
}

/* Error section */
#error {
    display: none;

    p {
        font-family: $p-font;
        font-size: 4em;
    }

    h1 {
        font-family: $h1-font;
        width: 100%;
        font-size: 5em;
    }

    .mainheader {
        background-color: $header-baggrund;
        color: $h1-color;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
        position: relative;
    }

    body {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        margin-bottom: 90px;
        margin-top: 100px;
    }

    section {
        height: 100%;
    }
}

/* The Modal (background) */
#modalSearch {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);

    /* Black w/ opacity */
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 80%;
        display: flex;
        flex-direction: column;

        header {
            padding: 2% 0% 2% 5%;
            position: relative;
            background-color: $header-baggrund;
            display: flex;
            justify-content: space-between;
            font-family: $h1-font;
            font-size: $p-size;
            color: $h1-color;
        }

        .luk {
            color: red;
        }

        button {
            width: 20%;
            border: none;
            background-color: transparent;
            font-size: 1.4em;
        }

        .indhold {
            display: flex;
            margin: 5%;
        }

        .stepper {
            width: 45%;
            margin: auto 0;

            input {
                width: 100%;
                background-color: $baggrund;
                border: 1px solid $header-baggrund;
                text-align: center;
                font-family: $p-font;
                font-size: $p-size;
            }
        }

        .btn {
            width: 45%;
            height: 150px;
            margin: auto;

            .fridge {
                border: none;
                background-color: transparent;
                background-image: url(img/iconTo.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 70px;
                margin: 0;
            }

            .list {
                border: none;
                background-color: transparent;
                font-size: 3.5em;
                width: 100%;
                height: 70px;
                margin-top: 5%;
            }
        }
    }
}        /* Source for the modal box:
https://www.w3schools.com/howto/howto_css_modals.asp */