* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

/* Fonts and font sizes */
/* Colors */
body {
  background-image: url(img/fridge.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; }

/* Home section */
#home {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas: ". header ." ". nav .";
  margin: auto; }
  #home header {
    grid-area: header;
    margin: 10% 0% 0%; }
    #home header .frontfridge {
      display: block;
      width: 100%;
      max-height: 450px;
      background-color: #8E5ECC;
      padding: 10%;
      border-radius: 50%;
      border: none;
      filter: invert(100%);
      margin-bottom: 10%; }
  #home nav {
    grid-area: nav; }
    #home nav button {
      border: none;
      border-radius: 20px;
      background-color: #71a133;
      text-align: center;
      width: 100%;
      margin: 6% 0% 0%;
      padding: 4% 5%;
      color: white;
      font-family: "Yu Gothic UI Light", sans-serif;
      font-size: 1.5em; }

/* Your-fridge section */
#your-fridge {
  background-color: rgba(229, 251, 201, 0.7);
  display: none;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  /* The Modal for add shopping */
  /* Modal box from the add more plus in footer */
  /* Source for the modal box:
      https://www.w3schools.com/howto/howto_css_modals.asp */
  /* The Close Button */ }
  #your-fridge header {
    position: fixed;
    grid-area: header;
    background-color: #D0F79E;
    width: 100%;
    padding: 2% 0%;
    display: flex;
    justify-content: space-between; }
    #your-fridge header button {
      width: 20%;
      border: none;
      background-color: transparent;
      font-size: 1.7em; }
    #your-fridge header h1 {
      font-size: 2.1em;
      font-family: "Century Gothic", sans-serif;
      text-align: center;
      color: #71A133; }
  #your-fridge .fridge {
    grid-area: main;
    padding-top: 60px;
    font-size: 1.5em;
    font-family: "Yu Gothic UI Light", sans-serif;
    height: 100vh; }
    #your-fridge .fridge p {
      display: grid;
      grid-template-columns: 1fr 3fr 3fr 0.7fr 0.7fr;
      grid-template-rows: auto;
      grid-template-areas: "first second time add no";
      padding: 3% 10% 0%;
      width: 100vw;
      word-break: break-all; }
    #your-fridge .fridge .amountFridge {
      grid-area: first; }
    #your-fridge .fridge .titleFridge {
      grid-area: second; }
    #your-fridge .fridge time {
      grid-area: time;
      text-align: center; }
    #your-fridge .fridge .s-list {
      grid-area: add; }
    #your-fridge .fridge .no {
      grid-area: no;
      color: red; }
    #your-fridge .fridge button {
      background-color: transparent;
      border: none;
      font-size: 1em;
      font-weight: bold; }
  #your-fridge #modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    /* Modal Content */ }
    #your-fridge #modal .modal-content {
      background-color: #fefefe;
      margin: auto;
      border: 1px solid #888;
      width: 80%;
      display: flex;
      flex-direction: column;
      background-color: #F4FCE9; }
      #your-fridge #modal .modal-content header {
        padding-left: 5%;
        position: relative; }
      #your-fridge #modal .modal-content .indhold {
        margin: 5%; }
      #your-fridge #modal .modal-content .stepper {
        width: 100%;
        margin: 0 auto; }
        #your-fridge #modal .modal-content .stepper input {
          display: block;
          width: 70%;
          margin: 2% auto;
          box-sizing: border-box;
          background-color: rgba(229, 251, 201, 0.7);
          border: 1px solid #D0F79E;
          font-family: "Yu Gothic UI Light", sans-serif;
          font-size: 1.5em;
          text-align: center;
          transition: width 1.0s ease-in-out; }
        #your-fridge #modal .modal-content .stepper input:focus {
          margin: 0 auto;
          width: 100%;
          background-position: left; }
      #your-fridge #modal .modal-content .btn {
        width: 100%;
        height: auto;
        margin: auto; }
        #your-fridge #modal .modal-content .btn .list {
          border: none;
          background-color: transparent;
          font-size: 3.5em;
          width: 100%;
          height: 70px;
          margin-top: 5%; }
  #your-fridge footer {
    grid-area: footer;
    position: fixed;
    bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center; }
    #your-fridge footer button {
      background-color: #71A133;
      border: none;
      border-radius: 50%;
      color: white;
      padding: 16px 20px;
      font-size: 20px;
      cursor: pointer; }
  #your-fridge #modalFridge {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    /* Modal Content */ }
    #your-fridge #modalFridge .modal-content {
      margin: auto;
      border: 1px solid #888;
      width: 80%;
      display: flex;
      flex-direction: column;
      background-color: #F4FCE9; }
      #your-fridge #modalFridge .modal-content header {
        padding-left: 5%;
        position: relative; }
      #your-fridge #modalFridge .modal-content .indhold {
        margin: 5%; }
      #your-fridge #modalFridge .modal-content .search {
        width: 100%;
        margin: 0 auto; }
        #your-fridge #modalFridge .modal-content .search input {
          display: block;
          width: 70%;
          margin: 2% auto;
          box-sizing: border-box;
          background-color: rgba(229, 251, 201, 0.7);
          border: 1px solid #D0F79E;
          font-family: "Yu Gothic UI Light", sans-serif;
          font-size: 1.5em;
          text-align: center;
          transition: width 1.0s ease-in-out; }
        #your-fridge #modalFridge .modal-content .search input[type=date] {
          transition: width 0;
          text-align: center; }
        #your-fridge #modalFridge .modal-content .search input:focus {
          margin: 0 auto;
          width: 100%;
          background-position: left; }
      #your-fridge #modalFridge .modal-content .btn {
        width: 100%;
        height: auto;
        margin: auto; }
        #your-fridge #modalFridge .modal-content .btn .fridgeModal {
          border: none;
          background-color: transparent;
          background-image: url(img/iconTo.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 70px;
          margin: 5% 0%; }
  #your-fridge .luk {
    color: red;
    float: right;
    font-size: 1.7em;
    font-weight: bold; }

/* Add-food section */
#add-food {
  display: none;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas: "header header header" "main main main";
  /* Inspiration from: https://www.w3schools.com/howto/howto_css_animated_search.asp  */ }
  #add-food header {
    grid-area: header;
    background-color: #D0F79E;
    width: 100%;
    padding: 2% 0%;
    display: flex;
    justify-content: space-between; }
    #add-food header button {
      width: 20%;
      border: none;
      background-color: transparent;
      font-size: 1.7em; }
    #add-food header h1 {
      font-size: 2.1em;
      font-family: "Century Gothic", sans-serif;
      text-align: center;
      color: #71A133; }
  #add-food .searchbar {
    width: 20%; }
    #add-food .searchbar input[type=text] {
      display: block;
      float: right;
      width: 100%;
      box-sizing: border-box;
      font-size: 1.5em;
      border: none;
      background-image: url(img/search.png);
      background-position: left;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #D0F79E;
      height: 40px; }

/* Shopping-list section */
#shopping-list {
  background-color: rgba(229, 251, 201, 0.7);
  display: none;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
  #shopping-list header {
    position: fixed;
    grid-area: header;
    background-color: #D0F79E;
    width: 100%;
    padding: 2% 0%;
    display: flex;
    justify-content: space-between; }
    #shopping-list header button {
      width: 20%;
      border: none;
      background-color: transparent;
      font-size: 1.7em; }
    #shopping-list header h1 {
      font-size: 2.1em;
      font-family: "Century Gothic", sans-serif;
      text-align: center;
      color: #71A133; }
    #shopping-list header #go-fridge {
      background-image: url(img/icon.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 30px;
      margin: auto 0%; }
  #shopping-list .shopping {
    grid-area: main;
    padding-top: 60px;
    font-size: 1.5em;
    font-family: "Yu Gothic UI Light", sans-serif;
    height: 100vh; }
    #shopping-list .shopping p {
      display: grid;
      grid-template-columns: 0.7fr 1fr 5fr 0.7fr;
      grid-template-rows: auto;
      grid-template-areas: "checkBox amountS titleS end";
      padding: 3% 5% 0%;
      width: 100vw;
      word-break: break-all; }
    #shopping-list .shopping .checkBox {
      grid-area: checkBox;
      width: 60%;
      height: 60%;
      margin: auto; }
    #shopping-list .shopping .amountS {
      grid-area: amountS; }
    #shopping-list .shopping .titleS {
      grid-area: titleS; }
    #shopping-list .shopping .end {
      grid-area: end;
      color: red;
      background-color: transparent;
      border: none;
      font-size: 1em;
      font-weight: bold; }
  #shopping-list #modalSendToFridge {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    /* Modal Content */ }
    #shopping-list #modalSendToFridge .modal-content {
      margin: auto;
      border: 1px solid #888;
      width: 80%;
      display: flex;
      flex-direction: column;
      background-color: #F4FCE9; }
      #shopping-list #modalSendToFridge .modal-content header {
        padding-left: 5%;
        position: relative; }
      #shopping-list #modalSendToFridge .modal-content .indhold {
        margin: 5%; }
      #shopping-list #modalSendToFridge .modal-content .btn {
        width: 100%;
        height: auto;
        margin: auto; }
        #shopping-list #modalSendToFridge .modal-content .btn .fridgeModal {
          border: none;
          background-color: transparent;
          background-image: url(img/iconTo.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 70px;
          margin: 5% 0%; }
    #shopping-list #modalSendToFridge .searchShopping {
      width: 100%;
      margin: 0 auto; }
      #shopping-list #modalSendToFridge .searchShopping input {
        display: block;
        width: 70%;
        margin: 2% auto;
        box-sizing: border-box;
        background-color: rgba(229, 251, 201, 0.7);
        border: 1px solid #D0F79E;
        font-family: "Yu Gothic UI Light", sans-serif;
        font-size: 1.5em;
        text-align: center;
        transition: width 1.0s ease-in-out; }
      #shopping-list #modalSendToFridge .searchShopping input:focus {
        margin: 0 auto;
        width: 100%;
        background-position: left; }
    #shopping-list #modalSendToFridge .closeModalShopping {
      color: red; }
  #shopping-list footer {
    grid-area: footer;
    position: fixed;
    bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center; }
    #shopping-list footer button {
      background-color: #71A133;
      border: none;
      border-radius: 50%;
      color: white;
      padding: 16px 20px;
      font-size: 20px;
      cursor: pointer; }
  #shopping-list #modalShopping {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    /* Modal Content */ }
    #shopping-list #modalShopping .modal-content {
      margin: auto;
      border: 1px solid #888;
      width: 80%;
      display: flex;
      flex-direction: column;
      background-color: #F4FCE9; }
      #shopping-list #modalShopping .modal-content header {
        padding-left: 5%;
        position: relative; }
      #shopping-list #modalShopping .modal-content .indhold {
        margin: 5%; }
      #shopping-list #modalShopping .modal-content .searchShopping {
        width: 100%;
        margin: auto 0; }
        #shopping-list #modalShopping .modal-content .searchShopping input {
          width: 100%;
          background-color: rgba(229, 251, 201, 0.7);
          border: 1px solid #D0F79E;
          text-align: center;
          font-family: "Yu Gothic UI Light", sans-serif;
          font-size: 1.5em; }
      #shopping-list #modalShopping .modal-content .btn {
        width: 100%;
        height: auto;
        margin: auto; }
        #shopping-list #modalShopping .modal-content .btn .list {
          border: none;
          background-color: transparent;
          font-size: 3.5em;
          width: 100%;
          height: 70px;
          margin-top: 5%; }
    #shopping-list #modalShopping .searchShopping {
      width: 100%;
      margin: 0 auto; }
      #shopping-list #modalShopping .searchShopping input {
        display: block;
        width: 70%;
        margin: 2% auto;
        box-sizing: border-box;
        background-color: rgba(229, 251, 201, 0.7);
        border: 1px solid #D0F79E;
        font-family: "Yu Gothic UI Light", sans-serif;
        font-size: 1.5em;
        text-align: center;
        transition: width 1.0s ease-in-out; }
      #shopping-list #modalShopping .searchShopping input:focus {
        margin: 0 auto;
        width: 100%;
        background-position: left; }
    #shopping-list #modalShopping .lukEt {
      color: red; }

/* Load section */
#load {
  display: none;
  margin-top: 25%; }
  #load img {
    display: block;
    width: 80%;
    margin: auto; }
  #load p {
    margin-top: 10%;
    font-family: "Yu Gothic UI Light", sans-serif;
    font-size: 4em;
    text-align: center;
    padding: 0% 2%;
    word-break: break-all; }

/* Error section */
#error {
  display: none; }
  #error p {
    font-family: "Yu Gothic UI Light", sans-serif;
    font-size: 4em; }
  #error h1 {
    font-family: "Century Gothic", sans-serif;
    width: 100%;
    font-size: 5em; }
  #error .mainheader {
    background-color: #D0F79E;
    color: #71A133;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative; }
  #error body {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%; }
  #error img {
    width: 100%;
    margin-bottom: 90px;
    margin-top: 100px; }
  #error section {
    height: 100%; }

.intro-modal {
  display: block;
  position: absolute;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.4); }
  .intro-modal .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 90%;
    background-color: #F4FCE9; }
    .intro-modal .modal-content .introLuk {
      color: red;
      font-weight: bold; }
    .intro-modal .modal-content header {
      padding: 1% 5%;
      position: relative;
      background-color: #D0F79E;
      text-align: center;
      color: #71A133;
      font-family: "Century Gothic", sans-serif;
      font-size: 1.8em; }
      .intro-modal .modal-content header .introLuk {
        margin: -12px -25px auto auto;
        background-color: #defbb7;
        border-color: #a4b987;
        border-radius: 50%;
        padding: 7px 10px;
        float: right;
        font-size: 30px; }
    .intro-modal .modal-content .indhold {
      margin: 5%; }
    .intro-modal .modal-content .indhold p {
      margin: 4%;
      font-family: "Yu Gothic UI Light", sans-serif;
      font-size: 1.4em; }
    .intro-modal .modal-content .btnPlus {
      background-color: #71A133;
      border: none;
      border-radius: 50%;
      color: white;
      padding: 8px 10px;
      font-size: 16px;
      margin-bottom: -10px;
      cursor: pointer; }
    .intro-modal .modal-content #fridgeLogo {
      width: 10%;
      border: none;
      background-color: transparent;
      font-size: 1.7em;
      background-image: url(img/icon.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 40px; }
    .intro-modal .modal-content .check {
      width: 20px;
      height: 20px; }

#enjoy section {
  display: flex;
  justify-content: space-between; }
  #enjoy section .introLuk {
    border: none;
    background-color: transparent;
    font-size: 40px;
    align-self: flex-end;
    margin: 5px 8px; }

/* Source for the modal box:
https://www.w3schools.com/howto/howto_css_modals.asp */
