* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts and font sizes */
$h1-font: "Century Gothic",
sans-serif;
$h1-size: 2.1em;
$p-font: "Yu Gothic UI Light",
sans-serif;
$p-size:1.8em;
/* Colors */
$baggrund: rgba(229, 251, 201, 0.2);

.modal-box {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $baggrund;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "section section main main"
    ;

    header {
        grid-area: header;
        background-color: #D0F79E;
        width: 100%;
        padding: 2% 0%;
        margin-bottom: 10%;

        button {
            width: 20%;
            border: none;
            background-color: transparent;
            font-size: $h1-size;
            position: absolute;
        }

        h1 {
            font-size: $h1-size;
            font-family: $h1-font;
            text-align: center;
            color: #71A133;
        }
    }

    .stepper {
        grid-area: section;
        display: flex;
        flex-direction: column;
        margin: 0% 10%;

        p {
            border: 3px solid black;
            text-align: center;
            font-family: $p-font;
            font-size: $p-size;
        }

        button {
            border: none;
            background-color: transparent;
            font-size: $p-size;
        }
    }

    .btn {
        grid-area: main;
        display: flex;
        flex-direction: column;
        margin: 0% 10%;

        button {
            font-size: $h1-size;
            background-color: transparent;
            margin-bottom: 25%;
            font-size: 6em;
        }

        .fridge {
            background-image: url(img/icon.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 50px;
        }
    }
}